* {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
    height: auto;
    text-align: center;
    flex: 2;
}

.slider{
    width:  200px;
    margin-bottom: 30px;
}


.container {
    height: auto;
    text-align: start;
    flex: 3;
    
}

.sketchArea {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: 3px 3px 3px 3px gray;

    grid-template: repeat(16, 1fr) / repeat(16, 1fr);
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 200px;
    gap: 30px;
    justify-content: center;
    
}

.clearButton, .eraserButton, .drawButton, .rainbowButton {
    padding: 20px;
    width: 200px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}

.active {
    color: white;
    background-color: black;
}

.colorPickerContainer {
    margin: auto;
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
}

.colorPicker {
    width: 100px;
    height: 100px;
    opacity: 0;
}

.title {
    position: absolute;
    top: 50px;
    font-weight: bold;
    font-size: 42px;
    z-index: -1;
}










