* {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
    height: auto;
    text-align: center;
    flex: 2;
}

.slider{
    width:  200px;
}


.container {
    height: auto;
    text-align: start;
    flex: 3;
}

.sketchArea {
    display: grid;
    height: 500px;
    width: 500px;
    box-shadow: 3px 3px 3px 3px gray;

    grid-template: repeat(16, 1fr) / repeat(16, 1fr);

    /* grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
}

.clearButton {
    margin-top: 30px;
    padding: 20px;
    width: 200px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
}





