* {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


.toolsContainer {
    text-align: center;
}


.container {
    height: auto;
    width: 800px;
    text-align: center;
    
}

.gridRow {
    /* line-height: 0; */
}

.cell {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
}

/* .cell:hover {
    background-color: black;
    
} */

